@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* Side bar  */

.admin-panel {
    display: flex;
    width: 100%; 
    height: 100%;
}

.admin-panel .wrapper {
    position: relative;
    width: 353px;
    flex-grow: 353px;
}
.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #720418;
    position: fixed;
    height: 100%;
    padding: 30px 0;

}
 
.admin-panel .side-bar .logo {
    margin: 35px;
}
.side-bar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    column-gap: 11px;
}

.side-bar a span {
    line-height: 1.5;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.admin-panel .main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
}

.admin-panel .main-content .admin-icons {
    display: flex;
    margin: 60px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    column-gap: 3px;
    justify-content: flex-end;

    
}
.admin-panel .main-contect .content {
    display: flex;
    flex-direction: column;
}

/* .div-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
} */

.admin-panel .main-contect .content .admin-icons {
    display: flex;
    background-color: black;
    justify-content: flex-end;
}


h2 {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 196.187%;
    margin: 0 0 26px 33px;
}

p {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin: 0 0 10px 33px;
    line-height: 196.187%;
}

.section1 input {
    border-radius: 34px;
    border: 2px solid rgba(57, 31, 0, 0.48);
    background: #FFF;
    width: 395px;
    height: 41px;
    margin: 0 0 172px 33px;
}

.btn1 {
    background-color: #FF8B00;
    border: none;
    border-radius: 18px;
    color: white;
    padding: 12px 16px;
    font-size: 18px;
    cursor: pointer; 
  }
 
.section2,
.section3 {
    display: flex;
    flex-direction: column;
}

.section2 div,
.section3 div {
    display: flex;
    flex-direction: column;
    margin: 0 108px 161px 33px;
    padding: 16px 30px;
}

.section2 #form1,
.section3 #form2 {
    display: flex;
    flex-direction: column;

}

.section2 #form1 label,
.section3 #form2 label {
    color: var(--Black, #030102);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.section2 #form1 input,
.section3 #form2 input, textarea {
    border-radius: 10px;
    border: 1px solid #E2E6EE;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);
    padding: 8px 0;
    margin-bottom: 24px;
    height: 40px;

}

textarea {
    height: 60px;
}

.section2 .btn2,
.section3 .btn3 {
    border-radius: 10px;
    background: #FF8B00;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    height: 40px;
    padding: 12px 24px;
    border: none;
}

.section4 table,
.section5 table,
.section6 table {
    margin: 0 667px 0 69px;
}
.section4 table .title,
.section5 table .title,
.section6 table .title {
    background-color: #720418;
    color: #FFF;
    display: flex;
    column-gap: 20px;
    padding: 20px;
    margin-bottom: 136px
}

th {
    font-size: 18px;
}

.section5 table,
.section6 table {
    width: 70%;
}

.section5 table th,
.section6 table th {
    width: 15%;
}

